# The Client ID of the application running the bot from the Discord Developer Portal
CLIENT_ID=
# The token from the Discord Developer Portal for the bot
BOT_TOKEN=
# The bot prefix. All commands will have this in front of them.
BOT_PREFIX=
# The Rich Presence data for the bot. The "Playing ..." status will contain this text. (https://discord.com/rich-presence)
BOT_ACTIVITY=
# The ID of the main maintainer. Useful for easter eggs.
MAINTAINER_USER_ID=

# ACMURL credentials
ACMURL_USERNAME=
ACMURL_PASSWORD=


# Membership Portal API URL (testing or production)
MEMBERSHIP_PORTAL_API_URL="https://api.acmucsd.com/api/v2"
# Membership Portal admin account credentials
MEMBERSHIP_PORTAL_API_USERNAME=
MEMBERSHIP_PORTAL_API_PASSWORD=

# API Keys for Picture functions
CAT_API_KEY=
UNSPLASH_ACCESS_KEY=

# Discord Guild IDS (as a list) to speed up slash command porting
DISCORD_GUILD_IDS='["1234567890123456789"]'

# ID of the role we use to match members in our /match command
MATCH_ROLE_ID=

# AS Attendance form URL, the one event attendees must fill out for food.
# Replace this with the new form every year.
# Run the following in Inspector Tools on the Google Form: "FB_PUBLIC_LOAD_DATA_[1][1].map(q => [q[1], q[4]?.[0]?.[0]])"
# ... to get the entry ids needed to make a prefilled link for /checkin 
AS_ATTENDANCE_FORM_URL=